*.pyc
.DS_Store
env
venv
.idea/
Documentation/
experiments/EntityAnalysis_Dona.ipynb
static/img/AFRICA_HL.jpg
static/img/AU_HL.jpg
static/img/CH_HL.jpg
static/img/FR_HL.jpg
static/img/IN_HL.jpg
static/img/IT_HL.jpg
static/img/JP_HL.jpg
static/img/NZ_HL.jpg
static/img/SA_HL.jpg
static/img/UK_HL.jpg
static/img/USA_HL.jpg
static/img/UUNUSED/
