{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

    <div class="page-header">
    </div>


    {#    TODO: Complete & format the text below #}


    <p class="lead"><h2>Author</h2></p>

    <p class="lead"><h3>Michael J. Booth PhD</h3>


    <img width="170" height="256" src="./static/img/MichaelBooth1.jpeg">

    <div><p><a href="https://about.me/mjboothaus" target="_blank">about.me/mjboothaus</a></p></div>

    Just Eat It is my capstone project developed as part of
    <a href="https://www.thedataincubator.com/fellowship.html" target="_blank">The Data Incubator Fellowship</a>
    Fall 2017 cohort in San Francisco.

    <p class="lead"><h2>Motivation</h2></p>

    While travelling, here or overseas, food provides a window into other cultures and peoples.
    The simple act of sharing a meal can assist understanding and acceptance.

    However, if like my son you have a complex food allergy, fully participating in the travelling experience
    and finding suitable foods can be difficult and sometimes life-threatening!

    Food allergies have the following characteristics:
    <ul>
        <li>Effect many people in many ways</li>
        <li>Are increasingly prevalent</li>
        <li>Can have a serious health and social impacts</li>
        <li>Are socially isolating</li>
        <li>Are a significant remedial cost to society</li>
    </ul>

    Thus I have developed the "Just Eat It" app which allows users to register** and specify their allergy profile,
    combined with recipe data from Yummly to produce TripAdvisor-like personalised
    cuisine recommendations.

    ** An added benefit of the app is to create a crowd-sourced allergy database for research purposes.

    <p class="lead"><h2>What data goes into the app?</h2></p> {#  TODO: Complete / add Yummly acknowledgement #}
    <ul>
        <li><a href="https://developer.yummly.com/login" target="_blank">Yummly.com</a> - Recipe data API</li>
        <li>User supplied data (registration profile)</li>
    </ul>




    <p class="lead"><h2>What's under the hood?</h2></p>{# TODO: Complete #}

    App built using Flask, WT-Forms, Bootstrap and Pandas under Python 2.7
    <ul>
        <li><a href="http://flask.pocoo.org" target="_blank">Flask</a> - Web framework</li>
        <li><a href="http://wtforms.readthedocs.io/en/latest/" target="_blank">WTForms</a> - Web forms</li>
        <li><a href="http://getbootstrap.com" target="_blank">Bootstrap</a> - Elegant CSS</li>
        <li><a href="https://pandas.pydata.org" target="_blank">Pandas</a> - Dataframes</li>
    </ul>


{% endblock %}
