{% extends 'layouts/main.html' %}
{% block title %}Just Eat It{% endblock %}
{% block content %}


    <div class="page-header">
        <h1>Just Eat It: the Friendly Food Finder app</h1>
    </div>
    <div>
        <p class="lead">
        <h3>Allergy profile + recipe data <code>=></code> TripAdvisor-like cuisine recommendations</h3></p>
    </div>

    <p class="lead"><code>Empowering those with food allergies to participate and
        engage confidently in their world.</code>.</p>

    <div><h2><a href="{{ url_for('allergy_profile') }}">Click to continue</a></h2></div>

    <a href="{{ url_for('allergy_profile') }}"><img  width="975" height="650" src="./static/img/WORLD_HL.jpg"></a>

{% endblock %}
