{% extends 'layouts/main.html' %}
{% block title %}Version{% endblock %}
{% block content %}

    <div class="page-header">
    </div>


    <p class="lead"> <h2>Release Information</h2>

    <ul>
        <li>Version 1.0 - 16 November 2017 (Initial release - TDI Capstone Project)</li>
    </ul>

    <p class="lead"><h2>Planned Enhancements</h2>

    <ul>
        <li>Expand list of allergy profiles</li>
        <li>Add African and Middle Eastern cuisine mappings</li>
        <li>Enable registration</li>
        <li>Develop data model for crowd-sourced research database</li>
    </ul>

{% endblock %}
